.Botao{
    background-color: #040f52;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin:32px 0;
}

.Botao:hover{
    color: #0d1713;
    background-color: #737475;
}